*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
.Maincad{   
    font-family: inherit;
    display: flex;
    min-height: 100vh;
    width: 100%;
}
.div-wpp-carro{
    height: 100vh;
    width: 65%;
    background-image: url('/wallpaper_carro_paisagem.jpg');
    background-position: left;
    background-size: cover; 
}
.Divcad{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}
.Divcad h1{
    font-size: 3em;
}
.Divcad h2{
    text-align: center;
    font-size: 2em;
}
.FormCad{
    width: 100%;
}
.Cadastro{
    margin-top: 30px;
    width: 100%;
}
.divInput{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.lblCad{
    font-weight: bold;
    text-align:left;
    margin-top: 15px;
}
.objCad{
    padding: 10px 0px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 80%;
    text-indent: 10px;
}
.btnCad{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    font-family: inherit;
    font-weight: bold;
    margin: 15px 0px;
    
}
.btnCad:hover{
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 14px 49px;
    border-radius: 10px; 
    transition: 0.5s;
    
}
.divInputSenha{
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 50px 0px;
}
.icones_redes_cad{ 
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0px;
    right: 30%;
    
}
.redes_cad{
    margin: 5px;
    width: 3vw;
    
}