
.div-Sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .dsec-sobre {
    background-color: #007bff;
    width: 60vw;
    border-radius: 20px;
   
  }
  
  .sec-sobre {
    background-image: url('/mazuls.png');
    background-position:bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    height: 50vh;
    padding: 10px;
  }
  
  .sec-sobre h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(255, 255, 255);
  }
  
  .footer_Sobre {
    height: 20vh;
  }
  
  .participantes {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .gusta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
  }
  
  .gusta img {
    width: 7vw;
  }
  .gusta p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gusta p img{
    width: 2vw;
    
  }
  .miche {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .miche img {
    width: 7vw;
  }
  .miche p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .miche p img{
    width: 2vw;
  }
  .luiza {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .luiza img {
    width: 7vw;
  }
  .luiza p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .luiza p img{
    width: 2vw;
  }
  